<h1 class="page-title">Overview</h1>

<p>
   EGEO is the open-source component library used to build <a href="http://www.stratio.com">Stratio</a>'s UI. The goals are to reduce the time and complexity of interface building being more productive, improving the experience based in apply the same patterns and visuals across the whole <a href="http://www.stratio.com">Stratio</a> applications being more consistent, and create a common and unified visual language that helps us to understand each other better laying the foundation for scalable growth.
</p>

<p>
    In this website, you'll find UI components, services and utilities but this is only one part of the project. You can discover more visiting the Github repositories of the project:
</p>

<ul>
    <li><a href="http://github.com/Stratio/egeo">egeo</a>: the library of components.</li>
    <li><a href="http://github.com/Stratio/egeo-web">egeo-web</a>: The official website of Egeo where documentation will be available soon.</li>
    <li><a href="http://github.com/Stratio/egeo-ui-base">egeo-ui-base</a> A Sass library that helps us to build our styles, including a rewritten Sass version of flexboxgrid.</li>
    <li><a href="http://github.com/Stratio/egeo-theme">egeo-theme</a>: The egeo components are thematizable. This is the official theme used in the <a href="http://www.stratio.com">Stratio</a>'s applications.</li>
    <li><a href="http://github.com/Stratio/egeo-starter">egeo-starter</a>: A Boilerplate project prepared for work with Egeo 1.x, Angular 2.x, TypeScript, Webpack, Karma, Jasmine and Sass.</li>
</ul>

<h2>Get Started</h2>

<p>
    Egeo is compounded of several projects to build the whole functionality. The main one is the Anguar 2 library that includes the components, services and utilities. You can read more about the library, how to work with, how to install and much more in the <a href="https://github.com/Stratio/egeo">Readme</a> and the <a href="https://github.com/Stratio/egeo/wiki">Wiki</a> of the Github project.
</p>

<p>
    We use Egeo Themes to add styles to the components. By default, <a href="http://www.stratio.com">Stratio</a> provides the <a href="https://github.com/Stratio/egeo-theme">official egeo theme</a> which one the <a href="http://www.stratio.com">Stratio</a>'s apps are built. However, you can build your own theme using the <a href="https://github.com/Stratio/egeo-ui-base">Egeo UI Base library</a>.
</p>

<p>
    We also provide a <a href="https://github.com/Stratio/egeo-starter">Starter</a> you can use to begin a new Angular 2 app with Egeo ready to code with the whole dependencies you could need installed and configured (like Egeo, egeo-theme, Karma and Docker). Check the <a href="https://github.com/Stratio/egeo-starter">Readme</a> and the <a href="https://github.com/Stratio/egeo-starter/wiki">Wiki</a> of the project to know more.
</p>

<h2>Changelog</h2>

<p>
   <a routerLink="/changelog">Changelog</a>
</p>
