@import '~@stratio/egeo-ui-base/utils/typography';
@import '~@stratio/egeo-ui-base/utils/colors';

.title {
   color: egeo-get-color(a3_dark);
   font-family: egeo-get-font(body);
   font-size: egeo-get-font-size(body_large);
   font-weight: bold;
   margin-bottom: 15px;
}

.param-line {
   color: egeo-get-color(n8);
   font-family: egeo-get-font(body);
   font-size: egeo-get-font-size(body_small);
}

.param-name {
   background-color: egeo-get-color(n1);
   border-radius: 4px;
   padding: 4px;
   margin-right: 10px;
   color: egeo-get-color(n6);
}

.param-type{
   color: #2fa6dd;
   margin-right: 16px;
}
.required {
   color: #fc7408;
   margin-right: 10px;
}
