<st-api-doc [doc]="apiDoc">
   <div class="example-run">
      <section class="container-liquid">
         <div class="row">
            <div class="col-sm-24 contains-breadcrumbs">
               <h3 class="contains-breadcrumbs-title">behaviour with 6 options or less</h3>
               <st-breadcrumbs [options]="options" [qaTag]="qaTag"></st-breadcrumbs>
            </div>
            <div class="col-sm-24 contains-breadcrumbs">
               <h3 class="contains-breadcrumbs-title">behaviour with more of 6 options</h3>
               <st-breadcrumbs [options]="options2" [qaTag]="qaTag2"></st-breadcrumbs>
            </div>
         </div>
      </section>
   </div>
   <div class="example-code">
      <!--{{code}}-->
      <st-load-code file="+components/breadcrumbs/example-code/breadcrumbs.html.txt"></st-load-code>
   </div>
</st-api-doc>
