<st-api-doc [doc]="apiDoc">
   <div class="example-model">

   </div>
   <div class="example-run">
      <section class="container-fluid">
         <div style="margin: 20px 0;">

            <st-radio-group>
               <st-radio value="1">Option 1</st-radio>
               <st-radio value="2">Option 2</st-radio>
            </st-radio-group>

         </div>
      </section>
   </div>
   <div class="example-code">
      <!--{{code}}-->
      <st-load-code file="+components/radio/example-code/radio.html.txt"></st-load-code>
   </div>
</st-api-doc>
