@import '~@stratio/egeo-ui-base/vendors/sanitize';
@import '~@stratio/egeo-ui-base/utils/grid';
@import '~@stratio/egeo-ui-base/utils/typography';
@import '~@stratio/egeo-ui-base/utils/colors';
body {
   color: egeo-get-color(n8);
   font-family: egeo-get-font(body);
   line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: egeo-get-font(heading);
   padding: 0 0 25px;
}

p,
ol,
ul {
   color: egeo-get-color(n8);
}

main {
   .page-title:first-child {
      font-size: egeo-get-font-size(head_xlarge);
      margin-top: 0;
      padding-top: 0;
   }
}

section {
   ul {
      list-style: none;
      padding: 0 0 15px 25px;
   }
   changelog li {
      &:before {
         content: '-';
         margin-right: .5em;
      }
   }
   p {
      font-size: egeo-get-font-size(body_large);
      padding: 0 0 15px;
   }
}

pre,
code {
   font-family: egeo-get-font(code);
}

img {
   max-width: 100%;
}

.page-title {
   color: egeo-get-color(n9);
   font-family: egeo-get-font(heading);
   font-size: egeo-get-font-size(head_xxxlarge);
   font-weight: egeo-get-font-weight(normal);
   margin-bottom: 10px;
   text-transform: uppercase;
   &::after {
      border-bottom: 2px solid;
      border-color: egeo-get-color(a2);
      content: ' ';
      display: block;
      height: 10px;
      width: 100%;
   }
}

st-load-code pre[class*="language-"]:before,
pre[class*="language-"]:after {
   content: none;
}

st-load-code pre[class*="language-"] {
   border: none;
}

pre code.markup {
   padding: 20px 20px 20px 0;
   background-color: egeo-get-color(a3_dark);

   .token {
      color: #e9e9e9;
      font-size: 14px;

      &.attr-name {
         color: #fc7408
      }
      &.attr-value {
         color: #76a34e
      }
      &.puntuaction {
         color: #e9e9e9
      }
      &.tag {
         color: #d82421
      }
   }
   .line-numbers-rows {
      padding: 20px 0;
      background-color: egeo-get-color(a3_light);
      color: #1e2731;
      border: none;
      width: 40px;
   }
}
