@import '~@stratio/egeo-ui-base/utils/typography';
@import '~@stratio/egeo-ui-base/utils/colors';


$body---font-family: egeo-get-font(body) !default;
$body---margin: 0 !default;

$base-separation: 30px;
$double-separation: 2 * $base-separation;

html{
   font-size: 16px;
   overflow: hidden;
   overflow-y: hidden !important;
}

body{
   margin: $body---margin;
   overflow: hidden;
   font-family: $body---font-family;
   background-color: egeo-get-color(b1);

   overflow-y: auto;
   height: 100vh;
   max-height: 100vh;
}

img {
   max-width: 100%;
}

// TODO: Refactor to implement a better markdown loader
.changelog  {

   & h1 {
      color: egeo-get-color(n9);
      font-family: egeo-get-font(heading);
      font-size: egeo-get-font-size(head_xxxlarge);
      font-weight: egeo-get-font-weight(normal);
      margin-bottom: 10px;
      text-transform: uppercase;

         &::after {
            border-bottom: 2px solid;
            border-color: egeo-get-color(a2);
            content: ' ';
            display: block;
            height: 10px;
            width: 100%;
      }
   }

   & h2 {
      font-family: egeo-get-font(heading);
      font-weight: egeo-get-font-weight(bold);
      margin: 25px 0 10px 0;
   }

   & ul {
      margin-left: 30px;
   }

   & li {
      font-family: egeo-get-font(body);
      color: egeo-get-color(n7);
   }
}
