@import '~@stratio/egeo-ui-base/utils/typography';
@import '~@stratio/egeo-ui-base/utils/colors';

li {
   &:before {
      content: '-';
      margin-right: .5em;
   }
}

a {
   color: egeo-get-color(a1);
   &:hover {
      text-decoration: underline;
   }
}

ul {
   list-style: none;
   padding: 0 0 15px 25px;
}

p {
   font-size: egeo-get-font-size(body_large);
   padding: 0 0 15px;
}
