<st-api-doc [doc]="apiDoc">
   <div class="example-run">
      <section class="container-fluid col-md-24">
         <div class="st-live-example">
            <h1 class="st-live-example-title">Modals by type of content:</h1>
            <st-button (onClick)="showModal()" text="Simple Message Modal" qaTag="modal-button-1"></st-button>
            <st-button (onClick)="showModalWithHtml()" text="Modal with HTML" qaTag="modal-button-2"></st-button>
            <st-button (onClick)="showModalWithComponent()" text="Modal with component" qaTag="modal-button-3"></st-button>

            <br><br>
            <h1 class="st-live-example-title">Modals by size:</h1>
            <st-button (onClick)="showModalBySize('compact')" text="Compact Modal" qaTag="modal-button-4"></st-button>
            <st-button (onClick)="showModalBySize('regular')" text="Regular Modal" qaTag="modal-button-5"></st-button>
            <st-button (onClick)="showModalBySize('large')" text="Large Modal" qaTag="modal-button-6"></st-button>
         </div>
      </section>
   </div>
   <div class="example-model">
      <st-load-code class="col-sm-24" file="+components/modal/example-code/modal.interface.ts.txt"></st-load-code>
   </div>
   <div class="example-code">
      <!--{{code}}-->
      <h1>MODAL CONTAINER</h1>
      <st-load-code class="col-sm-24" file="+components/modal/example-code/app.html.txt"></st-load-code>
      <h1>NOTIFY CONTAINER TO SERVICE</h1>
      <st-load-code class="col-sm-24" file="+components/modal/example-code/app.ts.txt"></st-load-code>
      <h1>MODAL SHOW CODE</h1>
      <st-load-code class="col-sm-24" file="+components/modal/example-code/modal.ts.txt"></st-load-code>
   </div>
</st-api-doc>
