@import '~@stratio/egeo-ui-base/utils/typography';
@import '~@stratio/egeo-ui-base/utils/colors';

$max-width: 1336px;
$menu-width: 280px;
$height: 100vh;

.main {
   max-width: $max-width;
   margin: auto;
   display: flex;
   background-color: egeo-get-color(n0);
   position: relative;
   min-height: $height;
}

.sidebar-container {
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   
   height: $height;
   width: 100%;
   display: flex;
   margin: auto;
   max-width: $max-width;


   .sidebar {
      background-color: egeo-get-color(n1);
      flex-direction: column;
      flex-grow: 1;
      height: 100%;
      width: $menu-width;
      max-width: $menu-width;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;

      &-intro {
         margin-bottom: 30px;
         text-align: center;
         .logo {
            max-width: 70%;
         }
         .version {
            font-size: egeo-get-font-size(head_xxsmall);
         }
      }
      .menu {
         width: 100%;
         padding: 0 50px 60px 30px;
         max-height: 86vh;
         overflow-y: auto;
         position: absolute;
         left: 0;
         top: 120px;
      }
   }
}

.main-content {
   margin-left: $menu-width;
   padding: 50px 60px;
   z-index: 1;
   overflow: hidden;
}