<section class="main">
   <aside class="sidebar-container">
      <div class="sidebar">
         <div class="sidebar-intro">
            <a routerLink="/"><img class="text-center logo" src="assets/images/egeo_logo_c.png"></a>
            <p class="version"><a routerLink="/changelog">Version {{version}}</a></p>
         </div>
         <nav class="menu">
            <layout-menu [menuList]="(mainMenu | async) || []" [activeRoute]="activeRoute"></layout-menu>
         </nav>
      </div>
   </aside>
   <div class="main-content">
      <router-outlet></router-outlet>
   </div>
</section>
