@import '~@stratio/egeo-ui-base/utils/typography';
@import '~@stratio/egeo-ui-base/utils/colors';
$max-width: 1336px;
$menu-width: 280px;
$height: 100vh;

.main {
   max-width: $max-width;
   margin: auto;
   display: flex;
   background-color: egeo-get-color(n0);
   position: relative;
   height: $height;
}

.sidebar-container {
   height: $height;
   position: absolute;
   left: 0;
   top: 0;
   width: $menu-width;
   max-width: $menu-width;
   overflow-y: auto;

   .sidebar {
      background-color: egeo-get-color(n1);
      flex-direction: column;
      flex-grow: 1;
      height: 100%;
      &-intro {
         margin-bottom: 30px;
         text-align: center;
         .logo {
            max-width: 70%;
         }
         .version {
            font-size: egeo-get-font-size(head_xxsmall);
         }
      }
      .menu {
         width: 100%;
         padding: 0 50px 60px 30px;
         max-height: 86vh;
         overflow-y: auto;
         position: absolute;
         left: 0;
         top: 120px;
      }
   }
}

.main-content {
   margin-left: $menu-width;
   padding: 50px 60px;
   height: 100%;
   z-index: 1;
   overflow-y: auto;
}
